$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$price-color: rgb(153, 0, 0);
$mobile-image-pane-width: 90%;

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.thumbnail {
	height: 200px;
	img.pull-right {
		width: 50px;
	}
}

.main-menu{
	border: 1px solid #c7c7c7;
	border-left: none;
	border-right: none;
	padding-left:0;
	margin-bottom:25px;

	& > div{
		padding:10px;
	}

	& > ul{
		margin:0;
		padding:0;
		position: relative;
		& > li{
			&:first-child{
				position:absolute;
				left:0;
				top:0;
				color: #ffffff;
				background: #e64d2c; /* Old browsers */
				background: -moz-linear-gradient(top,  #e64d2c 0%, #D14A30 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e64d2c), color-stop(100%,#D14A30)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #e64d2c 0%,#D14A30 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #e64d2c 0%,#D14A30 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #e64d2c 0%,#D14A30 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #e64d2c 0%,#D14A30 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64d2c', endColorstr='#D14A30',GradientType=0 ); /* IE6-9 */
				text-shadow: 0 1px 2px #F2F2F2;
				z-index: 10;
				&:before,&:after {
					z-index: -1;
					position: absolute;
					top: 98.1%;
					left: 25%;
					margin-left: -25%;
					content: '';
					width: 0;
					height: 0;
					border-top: solid 10px #D14A30;
					border-left: solid 75px transparent;
					border-right: solid 75px transparent;
					z-index:11;
				}
			}

			left: 150px;
			position: relative;
			display: inline-block;
			width: 150px;
			height: 53px;
			padding: 0;
			margin: 0;
			line-height: 53px;
			font-size: 18px;
			text-align: center;
			cursor: pointer;

			& > ul{
				width:376px;
				background:white;
				color:black;
				z-index:9;
				padding:0;
				margin:0;
				li{
					text-align: left;
					padding-left:10px;
					border-top:1px solid #c7c7c7;
					&:first-child{
						padding-top:10px;
					}
				}
			}
		}
	}

	ul{
		list-style: none;
	}

	.dropdown{
		display:none;
		border:1px solid #c7c7c7;
		border-top:none;
	}
	.main-search{
		border-left: 1px solid #c7c7c7;
		input[type=search]{
			height:33px;
		}
	}
}


.lookup{
	.row{
		margin: 10px 0;
	}
}

.filters{
	.filter-segment{
		.title{
			font-weight:bold;
		}
		ul{
			list-style:none;
			padding:0;
			margin:0 0 10px 0;

			li{
				font-size:12px;
				margin-left:10px;
				input{
					margin-right:5px;
				}
			}
		}
	}
}

.results{
	.result{
		margin-bottom:40px;
		.heading{
			border-bottom: 1px solid #aeaeae;
			min-height:55px;
			padding: 10px 0;
			clear:both;
			.title{
				font-weight:bold;
				font-size: 20px;
			}
			.values{
				line-height:40px;
			}
		}

		.images{
			img{
				width: 25%;
				float:left;
				box-shadow: 1px 1px 2px #eaeaea;
				margin:5px;
				&:first-child{
					width: 100%;
					border-radius: 4px;
					box-shadow: 1px 1px 6px #e1e1e1;
					margin:10px;
				}
			}
		}

		.body{
			margin-top:10px;
			.actions{
				iframe{
					margin:10px;
				}
			}
			.content{
				margin-top:10px;
				p{
					font-size:12px;
					padding:0;
					margin-bottom: 4px;
				}
			}
			.attr-table{
				width:100%;
				box-shadow: -1px 4px 9px #e1e1e1;
				border: 1px solid #C7C7C7;
				tbody{
					tr{
						&:nth-child(odd){
							background:#e1e1e1;
						}
						&:nth-child(even){
							background:white;
						}
						td{
							padding:4px;
						}
					}
				}
			}
		}
	}
}

.search-results{
	.search-result-data{
		text-align: right;
		margin-top:20px;
		margin-bottom:10px;
		span{
			line-height: 24px;
		}
	}
}

@media(max-width:767px){
	.results{
		.result{
			.mb-images{
				width:$mobile-image-pane-width;
				margin:auto;
				img:first-child{
					width:$mobile-image-pane-width;
				}
			}
			.mb-actions{
				display:block;
				margin:10px 0;
				.price{
					font-size:18px;
					line-height:36px;
					color: $price-color;
				}
			}
		}
	}

	.search-results{
	.search-result-data{
		text-align: left;
		margin-top:20px;
		margin-bottom:10px;
		span{
			line-height: 24px;
		}
	}
}
}
