<div class="container">

  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ACES Testing</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">

    <!-- Lookup -->
    <div class="col-lg-6 lookup">
      <h3>Select Vehicle</h3>
      <div class="row">
        <select class="form-control years" ng-model="vehicle.base.year" ng-change="getMakes()">
          <option value="0">- Select Year -</option>
          <option value="{{year}}" ng-repeat="year in years" >{{year}}</option>
        </select>
      </div>
      <div class="row">
        <select class="form-control makes" ng-model="vehicle.base.make" ng-change="getModels()">
          <option value="0">- Select Make -</option>
          <option value="{{make}}" ng-repeat="make in makes" >{{make}}</option>
        </select>
      </div>
      <div class="row">
        <select class="form-control models" ng-model="vehicle.base.model" ng-change="getSubmodels()">
          <option value="0">- Select Model -</option>
          <option value="{{model}}" ng-repeat="model in models" >{{model}}</option>
        </select>
      </div>
      <div class="row" ng-if="submodels.length > 0">
        <select class="form-control submodels" ng-model="submodel" ng-change="getConfigurations()">
          <option value="0">- Select Submodel -</option>
          <option value="{{sub}}" ng-repeat="sub in submodels" >{{sub}}</option>
        </select>
      </div>

      <div class="configurations">
        <div class="row" ng-repeat="config in configurations">
          <select class="form-control config" data-type="{{config.type}}" ng-if="config.options.length > 0" ng-model="configuration" ng-change="updateConfiguration()">
            <option value="">- Select {{config.type}} -</option>
            <option value="{{opt}}" ng-repeat="opt in config.options">{{opt}}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Results -->
    <div class="col-lg-6">
      <h3 ng-if="parts.length > 0">Matched Parts</h3>
      <ul class="list-group" ng-if="parts.length > 0">
        <li class="list-group-item" ng-repeat="part in parts">{{part}}</li>
      </ul>
    </div>
  </div>


  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/ninnemana">@ninnemana</a></p>
  </div>

</div>
